<!--banner-->
<section class="mx-auto max-w-full">
  <mat-card class="mx-auto mt-10 absolute" style="max-width: 100%;">
    <img src="../../../../assets/images/banner-profile-writer.png" alt="Banner" aria-label="Banner" class="mx-auto w-full contain-content">
    <div class="bottom-72 absolute top-28 left-1/2 transform -translate-x-1/2">
      <img mat-card-image src="../../../../assets/images/flor-profile.png" class="w-80 contain-content mx-auto">
      <mat-card-content class="text-center font-semibold text-2xl mt-5">Flor M. Salvador</mat-card-content>
    </div>
  </mat-card>
</section>

<section class="justify-between flex max-w-screen-xl mx-auto mt-20 mb-20">
  <div>
    <button mat-raised-button class="edit-button w-full" color="primary" aria-label="Botón de editar perfil" routerLink="/writer-profile/edit" >Editar perfil</button>
  </div>
  <div>
    <button mat-raised-button class="detail-button w-full" color="primary" aria-label="Botón de detalle">Detalles de cuenta</button>
  </div>
</section>

<section class="flex mx-auto max-w-7xl space-x-10 mb-32">
  <div class="w-1/4 items-center">
    <p class="text-2xl font-semibold">Redes sociales</p>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <fa-icon [icon]="faXTwitter" [style.font-size.px]="22"></fa-icon>
        <a class="font-medium" href="https://twitter.com/?lang=es">https://twitter.com/?lang=es</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <fa-icon [icon]="faInstagram" [style.font-size.px]="22"></fa-icon>
        <a class="font-medium" href="https://www.instagram.com/">https://www.instagram.com/</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon >facebook</mat-icon>
        <a class="font-medium" href="https://www.facebook.com/">https://www.facebook.com/</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <fa-icon [icon]="faTiktok" [style.font-size.px]="23"></fa-icon>
        <a class="font-medium" href="https://www.tiktok.com/es/">https://www.tiktok.com/es/</a>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="w-3/4">
    <p class="text-2xl font-semibold">
      Bio
    </p>
    <p class="text-xl text-justify">
      Lorem ipsum dolor sit amet consectetur adipiscing elit mauris ornare malesuada himenaeos eleifend morbi, vivamus nostra
      faucibus platea nisl nec lacinia hendrerit ultricies id maecenas diam. Eget vel aliquet nam penatibus
      vulputate felis dapibus magnis montes auctor ut, augue placerat praesent class condimentum litora eros sociis iaculis.
    </p>
    <br><br>
    <p class="text-2xl font-semibold">
      Libros publicados
    </p>
    <div class="flex justify-start gap-x-10">
      <mat-card class="flex w-fit">
        <img mat-card-image src="../../../../assets/images/Boulevard.png" class="h-56 contain-content">
      </mat-card>
      <mat-card class="flex w-fit">
        <img mat-card-image src="../../../../assets/images/boulevard2.png" class="h-56 contain-content">
      </mat-card>
    </div>
  </div>
</section>


