<section class="flex justify-center content-center mx-5">
  <div class="recover-container pt-7 pb-7 w-full">
    <h3 class="ml-5">Recupera tu contraseña</h3>
    <div class="recover-form pt-4 flex flex-col justify-center items-center gap-5 text-center">
      <img src="../../../../assets/images/recover_image.png" alt="Recover Password Image" aria-label="Imagen de recuperación de contraseña">
      <h3>¿Olvidaste tu contraseña? No te preocupes</h3>
      <h3 class="text-gray-500">Le enviaremos una URL para restablecer su contraseña.
        Ingrese la dirección de correo electrónico que ha registrado en ArtCollab.</h3>
      <input matInput class="input-text w-1/2" id="email" placeholder="Correo electrónico" aria-label="Correo electrónico para recuperar contraseña">
      <button mat-raised-button class="recover-button w-20 bg-cyan-400" aria-label="Botón de recuperación de contraseña">Enviar</button>
    </div>
  </div>
</section>
