<section class="mx-auto max-w-full">
  <mat-card class="mx-auto" style="max-width: 100%;">
    <img src="../../../../assets/images/banner-artist.png" alt="Banner" aria-label="Banner" class="mx-auto w-full contain-content">
  </mat-card>
</section>
<section >
  <mat-card class="mx-auto mt-10 mb-10 shadow-none">
    <p class="text-3xl font-bold text-center" aria-label="Artistas">Artistas</p>
  </mat-card>

  <div class="flex flex-col flex-wrap gap-20 md:gap-36 lg:gap-52 lg:flex-row">
    <div *ngFor="let artist of artists">
      <mat-card class="flex justify-center items-center w-80 mx-auto cursor-pointer" routerLink="/illustrator-profile">
        <img mat-card-image [src]="artist._imgUrl" class=" w-56 lg:w-80 contain-content">
        <mat-card-content class="text-center font-semibold text-2xl mt-5">{{artist._name}}</mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
