<div class=" step-main-container flex flex-col justify-center item-center mt-20" aria-label="The step main container">
  <div class="flex flex-col justify-center items-center">
    <h2 class="text-center"> Programa de reparto de ingresos publicitarios </h2>
     <div class="text-center mt-20 text-stone-500">
      <h2> ¡Los creadores pueden ganar  50% por los anunciones mostrados en sus series! </h2>
      <h2> Sigue los siguientes pasos para  unirte al programa de reparto de ingresos publicitarios</h2>
   </div>
  </div>
  <div class="flex justify-center items-center flex-wrap mt-20">
    <div class="circle flex flex-col items-center justify-center  rounded-full text-center  border-2 border-black overflow-auto w-64 h-64" aria-label="Step 1 section">
      <div class="step-container" aria-label="the step content">
        <h1  aria-label="Step number"> 1 </h1>
        <h2  aria-label="Step description"> Registrate con tu cuenta de escritor en el programa de reparto de ingresos publicitarios</h2>
      </div>
    </div>
    <div class="circle flex flex-col items-center justify-center  rounded-full text-center  border-2 border-black overflow-auto w-64 h-64" aria-label="Step 1 section">
      <div class="step-container" aria-label="the step content">
        <h1  aria-label="Step number"> 2 </h1>
        <h2  aria-label="Step description"> Alcanza los 20,000 me gusta y 40,000 vistas globales mensuales en tu libro</h2>
      </div>
    </div>
    <div class="circle flex flex-col items-center justify-center  rounded-full text-center  border-2 border-black overflow-auto w-64 h-64" aria-label="Step 1 section">
      <div class="step-container" aria-label="the step content">
        <h1  aria-label="Step number"> 3 </h1>
        <h2  aria-label="Step description"> Aplica para una revisión</h2>
      </div>
    </div>
    </div>
   <div class="flex justify-center items-center mt-16 my-10">
     <button class=" bg-cyan-500 text-white p-5 px-10 rounded-xl"> ¡Comienza a compartir tus historias ahora! </button>
   </div>
</div>
