<p>
  <mat-toolbar >
   <div class="toolbar-container">
     <div class="toolbar-content">
       <div class="navbar-tools">
         <img src="./assets/logo.png"  class="logo" width="50">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
           <mat-icon>menu</mat-icon>
          </button>
       </div>
       <div class="toolbar-sections">
         <span> Géneros </span>
         <span>Populares </span>
         <span> Suscripciones </span>
         <span> Recomendaciones </span>
         <span> Monetización </span>
         <span> Artistas </span>
       </div>
     </div>
     <div>
       <div class="search-input">
         <div class="search-btn">
            <mat-icon>search</mat-icon>
         </div>
         <div class="input-btn">
           <input type="text" placeholder="Buscar"/>
         </div>
       </div>
      </div>
     <div class="login-container">
       <button class="login-btn"> Iniciar Sesión </button>
     </div>
   </div>
  </mat-toolbar>
</p>
