<div class="navbar-container p-3">
  <mat-toolbar class="toolbar">
    <div class="toolbar-container flex justify-center gap-16">
      <div class="toolbar-content flex gap-5">
        <div class="navbar-tools">
          <img src="./assets/logo.png"  class="logo hidden lg:block" width="60" height="50" alt="Artcollab Logo">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="snav.toggle()" >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
          <div class="toolbar-sections flex justify-center items-center gap-8">
            <span> Géneros </span>
            <span>Populares </span>
            <span> Suscripciones </span>
            <span> Recomendaciones </span>
            <span> Monetización </span>
            <span> Artistas </span>
          </div>
      </div>
      <div class="flex justify-center items-center gap-4">
        <div class="search-input">
          <div class="search-btn mt-1">
            <mat-icon>search</mat-icon>
          </div>
          <div class="input-btn">
            <input class="lg:p-1" type="text"/>
          </div>
        </div>
        <div class="login-container">
          <button class="login-btn p-2 rounded-lg hidden lg:block"> Iniciar Sesión </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container"
                         [style.margin-top.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="sidenav-list">
        <img src="./assets/logo.png"  class="logo" width="60" height="50" alt="Artcollab Logo">
        <span> Géneros </span>
        <span>Populares </span>
        <span> Suscripciones </span>
        <span> Recomendaciones </span>
        <span> Monetización </span>
        <span> Artistas </span>
        <button class="login-btn p-2 rounded-lg"> Iniciar Sesión </button>

      </mat-nav-list>
    </mat-sidenav>

  </mat-sidenav-container>
</div>
