.navbar-tools img{
  cursor: pointer;
}
.example-icon {
  display: none;
}
span:hover{
   color: #11AEBF;
   cursor: pointer;
}

span{
  font-weight: bold;
  font-size: 1rem;
}

.toolbar-container{
  display:flex;
  justify-content: space-between;
  padding: 1rem 10rem;
  gap: 1rem;
  border: 1px solid #e0e0e0;
}
.toolbar-sections{
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;

}

.login-container{
}
.login-btn{
  background-color: #11AEBF;
  color: white;
  border: none;
  padding: 15px 35px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.search-input{
  display:flex;

}

.search-btn{
  align-content: center;
}

.input-btn input{
  padding: 15px 20px 15px;
  border-radius: 10px;
  border-color: transparent;
}
.toolbar-content{
  display: flex;
  gap:2em;
}
.mat-toolbar{
  background-color: white;
  color: black;
}

.navbar-tools{
  display: flex;
  gap: 2em;
}



@media (min-width: 0px) and (max-width: 1024px) {
  .example-icon {
    display:block;
  }

  .input-btn input{
    display: none;
  }

  .toolbar-sections{
    display: none;
  }

  .toolbar-container{
    justify-content: space-around;
    padding: 1rem 0;
  }

}
