<div class="navbar-container p-3">
  <mat-toolbar class="toolbar">
    <div class="toolbar-container flex justify-center gap-16">
      <div class="toolbar-content flex gap-5">
        <div class="navbar-tools">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="snav.toggle()" >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
          <div class="toolbar-sections flex justify-center items-center gap-8">
            <img src="./assets/logo.png"  class="logo hidden lg:block cursor-pointer" width="60" height="50" alt="Artcollab Logo">
            <span> Géneros </span>
            <span>Populares </span>
            <span> Suscripciones </span>
            <span> Recomendaciones </span>
            <span> Monetización </span>
            <span> Artistas </span>
          </div>
      </div>
      <div class="flex justify-center items-center gap-4 w-full">
        <div class="search-input">
          <div class="flex">
            <div class="search-btn mt-1">
              <mat-icon>search</mat-icon>
            </div>
            <div class="input-btn">
              <input class="lg:p-1" type="text"/>
            </div>
          </div>
        </div>
        <div class="logged-container flex gap-3 h-full" *ngIf="loggedInUser; else notLoggedIn">
          <button class="publish-btn bg-cyan-400 rounded-lg text-cyan-700 p-2 m-2"> Publicar </button>
          <div class="user-info bg-cyan-600 text-white gap-3  rounded-lg flex align-middle justify-center p-2  m-2 px-4">
            <img [src]="loggedInUser._imgUrl" alt="User profile picture" width="25px" height="25px">
            <span class="flex justify-center self-center">{{ loggedInUser._username }}</span>
          </div>
        </div>
        <ng-template #notLoggedIn>
          <div class="login-container">
            <button class="login-btn p-2 rounded-lg hidden lg:block"  (click)="openLogin()"> Iniciar Sesión </button>
          </div>
        </ng-template>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container"
                         [style.margin-top.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="sidenav-list">
        <img src="./assets/logo.png"  class="logo" width="60" height="50" alt="Artcollab Logo">
        <span> Géneros </span>
        <span>Populares </span>
        <span> Suscripciones </span>
        <span> Recomendaciones </span>
        <span> Monetización </span>
        <span> Artistas </span>
        <div class="login-container pt-10 flex flex-col gap-5" *ngIf="loggedInUser; else notLoggedIn">
          <button class="bg-cyan-400 rounded-lg text-cyan-700 p-2"> Publicar </button>
          <div class="user-info">
            <img [src]="loggedInUser._imgUrl" alt="User profile picture" width="50px">
            <span>{{ loggedInUser._username }}</span>
          </div>
        </div>
        <ng-template #notLoggedIn>
          <div class="login-container">
            <button class="login-btn p-2 rounded-lg hidden lg:block"  (click)="openLogin()"> Iniciar Sesión </button>
          </div>
        </ng-template>

      </mat-nav-list>
    </mat-sidenav>

  </mat-sidenav-container>
</div>

<app-the-user-login [showLogin]="showLogin" *ngIf="showLogin" (close)="handleCloseLogin()" (closeEmail)="handleCloseEmailLogin()"/>
