<navbar-content/>
<the-book-details-edit-toolbar/>
<div class="flex flex-wrap justify-center gap-20 my-7">
  <div class="flex justify-center items-center">
    <the-book-details-edit-cover/>
  </div>
  <div class="edit-tabview flex items-center justify-center shadow p-5">
    <the-book-details-edit-tabview class="lg:max-w-full"/>
  </div>
</div>
<div class="flex justify-end mx-10">
  <div class="bg-cyan-600 flex justify-center items-center text-4xl text-center rounded-full text-white px-2 w-20 h-20">
    <fa-icon [icon]="faCommenting"></fa-icon>
  </div>
</div>
<footer-content/>
