<!--banner-->
<section class="mx-auto max-w-full">
  <mat-card class="mx-auto mt-10 absolute" style="max-width: 100%;">
    <img src="../../../../assets/images/banner-ilustrator.png" alt="Banner" aria-label="Banner" class="mx-auto w-full contain-content">
    <div class="bottom-72 absolute top-28 left-1/2 transform -translate-x-1/2">
      <img mat-card-image src="../../../../assets/images/miriam.png" class="w-80 contain-content mx-auto">
      <mat-card-content class="text-center font-semibold text-2xl mt-5">Miriam Bonastre</mat-card-content>
    </div>
  </mat-card>
</section>
<section class="justify-between flex max-w-screen-xl mx-auto mt-20 mb-20">
  <div>
    <button mat-raised-button class="edit-button w-full" color="primary" aria-label="Botón de editar perfil">Editar perfil</button>
  </div>
  <div>
    <button mat-raised-button class="detail-button w-full" color="primary" aria-label="Botón de detalle">Detalles de cuenta</button>
  </div>
</section>
