<div class="page-container flex flex-col items-center justify-center mb-10">

  <div class=" flex flex-wrap mt-10 items-center justify-center">

    <div class=" p-16">
      <img src="{{books[0].cover}}" alt="{{books[0].cover}}" width="300" height="400">
    </div>

    <div class=" flex flex-col items-start justify-center ">
      <p class="text-5xl font-bold">{{books[0].title}}</p>
      <p class="text-2xl underline">{{books[0].authors}}</p>
    </div>

  </div>


  <div class="flex justify-between items-start history-container flex-wrap w-4/5">

    <mat-card class="p-2 w-6/12 m-10 card divide-y divide-black cards-container" aria-label="Book profile card">
      <mat-card-header class="flex flex-col " aria-label="Book information card header">
        <div class="flex ">
          <h2 class="text-black"> Tabla de contenidos </h2>
        </div>
      </mat-card-header>

      <mat-card-content aria-label="Book information card content">
        <div class="mt-3">

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Prologo </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Capítulo 1 </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Capítulo 2 </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Capítulo 3 </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Capítulo 4 </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Capítulo 5 </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faLock" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Capítulo 6 </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faLock" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Capítulo 7 </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faLock" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Capítulo 8 </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faLock" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Capítulo 9 </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faLock" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>

          <div class="flex flex-row items-center justify-between">

            <h2 class="text-black"> Capítulo 10 </h2>

            <div class="flex flex-row ">
              <fa-icon [icon]="faLock" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <fa-icon [icon]="faHeart" size="lg" class="p-2 w-10 h-8 blue-icon"></fa-icon>
              <h2 class="text-black">100 K</h2>
            </div>

          </div>


        </div>
      </mat-card-content>

    </mat-card>

    <div class=" w-4/12 m-10 info-container ">

      <div class="flex flex-row">

        <fa-icon [icon]="faEye" size="xl" class="p-2 blue-icon"></fa-icon>
        <h2 class="text-black">{{books[0].views}}</h2>

        <fa-icon [icon]="faHeart" size="lg" class="p-2 ml-3 blue-icon"></fa-icon>
        <h2 class="text-black">{{books[0].likes}}</h2>
      </div>

      <p class="text-xl">
        {{books[0].summary}}
      </p>

      <mat-card class="card border button-container flex box cursor-pointer">
        <mat-card-content aria-label="Button card chapter">
          <div class="flex flex-row justify-between">
            <h2> Primer capítulo </h2>
            <div class="flex flex-row ">
              <fa-icon [icon]="faArrowRight" size="xl" class="p-1 blue-icon"></fa-icon>
            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>


