<div class="about text-bluegray-900">
  <p class="text-6xl font-bold my-14">Acerca de</p>
  <div class="artcollab-about my-5">
    <p class="font-bold">Somos ArtCollab.</p>
    <p class="leading-loose">
      Formamos una gran familia creativa en una plataforma abierta para todos los que tienen historias para compartir.<br>
      Nuestras historias son contadas por creadores autónomos de todo el mundo.<br>
      Descubre contenido de romance, comedia y fantasía.<br>
    </p>
  </div>
  <div class="my-3 ml-4">
    <ul class="list-disc">
      <li>Tienes acceso gratuito a nuevo contenido todas las semanas.</li>
      <li>Lee, comenta y comparte con tus amigos y con la comunidad.</li>
    </ul>
  </div>
</div>
