
  <mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <the-book-details-edit-toolbar-title/>
    <span class="example-spacer"></span>
    <button mat-stroked-button class="button-1 mx-2">
      <p class="text-lg button-text text-black">
        Cancelar
      </p>
    </button>
    <button mat-stroked-button class="button-2 mx-2">
      <p class="text-lg button-text text-white">
        Guardar
      </p>
    </button>
  </mat-toolbar>
