<div class="flex flex-row flex-wrap lg:space-x-16 md:space-x-14 sm:space-x-0">
  <div>
    <h4>Género 1</h4>
    <mat-form-field>
      <mat-label>Selecciona un género</mat-label>
      <mat-select required>
        <mat-option *ngFor="let genre of genres" [value]="genre.value">{{genre.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <div class="flex flex-row space-x-1.5">
      <h4>Género 2</h4> <small>(Opcional)</small>
    </div>
    <mat-form-field>
      <mat-label>Selecciona un género</mat-label>
      <mat-select>
        <mat-option *ngFor="let genre of genres" [value]="genre.value">{{genre.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


