<!--banner-->
<section class="mx-auto max-w-full">
  <mat-card class="mx-auto mt-10 absolute" style="max-width: 100%;">
    <img src="../../../../assets/images/banner-ilustrator.png" alt="Banner" aria-label="Banner" class="mx-auto w-full contain-content">
    <div class="bottom-72 absolute top-28 left-1/2 transform -translate-x-1/2">
      <div class="relative inline-block">
        <img mat-card-image src="../../../../assets/images/miriam.png" class="w-80 contain-content mx-auto">
        <button class="bg-sky-500 rounded-full p-2 inline-flex items-center justify-center text-white absolute top-0 right-0 mt-[-10px] mr-[-10px]">
          <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
        </button>
      </div>
      <mat-card-content class="text-center font-semibold text-2xl mt-5">Flor M. Salvador</mat-card-content>
    </div>
  </mat-card>
</section>
