<!--banner-->
<section class="mx-auto max-w-full">
  <mat-card class="mx-auto mt-10 absolute" style="max-width: 100%;">
    <img src="../../../../assets/images/banner-ilustrator.png" alt="Banner" aria-label="Banner" class="mx-auto w-full contain-content">
    <div class="bottom-72 absolute top-28 left-1/2 transform -translate-x-1/2">
      <div class="relative inline-block">
        <img mat-card-image src="../../../../assets/images/miriam.png" class="w-80 contain-content mx-auto">
        <button class="bg-sky-500 rounded-full p-2 inline-flex items-center justify-center text-white absolute top-0 right-0 mt-[-10px] mr-[-10px]">
          <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
        </button>
      </div>
      <mat-card-content class="text-center font-semibold text-2xl mt-5">Miriam Bonastre</mat-card-content>
    </div>
  </mat-card>
</section>
<section class="flex mx-auto max-w-7xl space-x-10 mb-32 mt-52">
  <div class="w-1/4 items-center">
    <p class="text-2xl font-semibold">Redes sociales</p>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="flex items-center justify-start">
          <fa-icon [icon]="faXTwitter" [style.font-size.px]="22" class="mr-2"></fa-icon>
          <a class="font-medium" href="https://twitter.com/?lang=es">https://twitter.com/?lang=es</a>
          <button class="bg-sky-500 rounded-full p-1 inline-flex items-center justify-center text-white ">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" style="font-size: 18px;"></mat-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="flex items-center justify-start">
          <fa-icon [icon]="faInstagram" [style.font-size.px]="22" class="mr-2"></fa-icon>
          <a class="font-medium" href="https://www.instagram.com/">https://www.instagram.com/</a>
          <button class="bg-sky-500 rounded-full p-1 inline-flex items-center justify-center text-white ">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" style="font-size: 18px;"></mat-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="flex items-center justify-start">
          <mat-icon class="mr-2">facebook</mat-icon>
          <a class="font-medium" href="https://www.facebook.com/">https://www.facebook.com/</a>
          <button class="bg-sky-500 rounded-full p-1 inline-flex items-center justify-center text-white ">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" style="font-size: 18px;"></mat-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="flex items-center justify-start">
          <fa-icon [icon]="faTiktok" [style.font-size.px]="23" class="mr-2"></fa-icon>
          <a class="font-medium" href="https://www.tiktok.com/es/">https://www.tiktok.com/es/</a>
          <button class="bg-sky-500 rounded-full p-1 inline-flex items-center justify-center text-white ">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" style="font-size: 18px;"></mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</section>
