footer{
  background-color: #11AEBF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:2rem;
  gap:1rem;

}
.logo-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
  gap:2rem;
}

.header{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}


.logo-content h2{
  margin-top:1rem;
}

.media-section{
  display:flex;
  gap:2rem;
  color:white;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .logo-content{
    flex-direction: row;
  }
  .media-section{
    flex-direction: column;
  }
  .about-content{
    flex-direction: column;
  }
  .header{
    flex-direction: column;
  }
}
@media (width<=350px) {
  footer{
    padding:1rem;
    width: 400px;
  }
}
