<footer>
  <div class="logo-content">
    <div class="header">
      <img src="./assets/logo.png" width="50">
      <h2> ArtCollab </h2>
    </div>
    <div class="media-section">
      <mat-icon >facebook</mat-icon>
      <fa-icon [icon]="faXTwitter" [style.font-size.px]="22"></fa-icon>
      <fa-icon [icon]="faInstagram" [style.font-size.px]="22"></fa-icon>
      <fa-icon [icon]="faYoutube" [style.font-size.px]="23"></fa-icon>
    </div>
    <div class="about-content">
      <h3> Acerca de </h3>
      <h3> Géneros </h3>
      <h3> Populares </h3>
      <h3> Suscripciones</h3>
      <h3> Monetización</h3>
      <h3> Artistas </h3>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright© 2024 ArtCollab.  Todos los derechos reservados.</p>
  </div>
</footer>

