<div class=" cards-container flex justify-center items-center flex-wrap gap-16 mt-7 rounded-xl" aria-label="Subscription cards container">
  <mat-card class="p-2 w-72" aria-label="Artist subscription card">
    <mat-card-header class="flex flex-col" aria-label="Artist subscription card header">
     <div class="flex ">
       <h1 class="font-bold"> S/.3.99 </h1>
       <h2 class="text-stone-500"> /month </h2>
     </div>
      <div>
        <h2 class="font-bold"> Artista </h2>
        <hr/>
      </div>
      <div class="mt-3">
        <div class="flex gap-2">
           <fa-icon [icon]="faCheck"  class="mt-2 p-2 w-10 h-8  bg-gray-400 rounded-full"></fa-icon>
           <h2 class="text-stone-500"> Perfil destacado al inicio de la sección </h2>
        </div>
        <div class="flex gap-2">
          <fa-icon [icon]="faCheck"  class="mt-2 p-2 w-10 h-8  bg-gray-400 rounded-full"></fa-icon>
          <h2 class="text-stone-500"> Tener mayor prioridad para trabajar con escritores destacados </h2>
        </div>
      </div>
      <div class="flex flex-col gap-2">
         <button class="text-white bg-gray-900 p-2 px-20 text-lg font-bold"> Suscribete </button>
         <h3 class="text-center text-stone-500"> Cancela en cualquier momento </h3>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="p-2 w-72" aria-label="Reader subscription card">
    <mat-card-header class="flex flex-col" aria-label="Reader subscription card header">
      <div class="flex ">
        <h1 class="font-bold"> S/.5.90 </h1>
        <h2 class="text-stone-500"> /month </h2>
      </div>
      <div>
        <h2 class="font-bold"> Lector </h2>
        <hr/>
      </div>
      <div class="mt-3">
        <div class="flex gap-2">
          <fa-icon [icon]="faCheck"  class="mt-2 p-2 w-10 h-8  bg-gray-400 rounded-full"></fa-icon>
          <h2 class="text-stone-500"> Un paquete mensual gratuito de monedas </h2>
        </div>
        <div class="flex gap-2">
          <fa-icon [icon]="faCheck"  class="mt-2 p-2 w-10 h-8  bg-gray-400 rounded-full"></fa-icon>
          <h2 class="text-stone-500"> Acceso anticipado a nuevas historias </h2>
        </div>
        <div class="flex gap-2">
          <fa-icon [icon]="faCheck"  class=" p-2 w-8 h-8  bg-gray-400 rounded-full"></fa-icon>
          <h2 class="text-stone-500"> Sin anuncios </h2>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <button class="text-white bg-gray-900 p-2 px-20 text-lg font-bold"> Suscribete </button>
        <h3 class="text-center text-stone-500"> Cancela en cualquier momento </h3>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="p-2 w-72" aria-label="Writer subscription card">
    <mat-card-header class="flex flex-col" aria-label="Writer subscription card header">
      <div class="flex ">
        <h1 class="font-bold"> S/.7.99 </h1>
        <h2 class="text-stone-500"> /month </h2>
      </div>
      <div>
        <h2 class="font-bold"> Escritor </h2>
        <hr/>
      </div>
      <div class="mt-3">
        <div class="flex gap-2">
          <fa-icon [icon]="faCheck"  class="mt-2 p-2 w-10 h-8  bg-gray-400 rounded-full"></fa-icon>
          <h2 class="text-stone-500"> Historia destacada en la página principal </h2>
        </div>
        <div class="flex gap-2">
          <fa-icon [icon]="faCheck"  class="mt-2 p-2 w-10 h-8  bg-gray-400 rounded-full"></fa-icon>
          <h2 class="text-stone-500"> Anuncios de su historia en nuestras páginas </h2>
        </div>
        <div class="flex gap-2">
          <fa-icon [icon]="faCheck"  class=" p-2 w-8 h-8  bg-gray-400 rounded-full"></fa-icon>
          <h2 class="text-stone-500"> Entrar en nuestra lista de historias recomendadas a editoriales </h2>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <button class="text-white bg-gray-900 p-2 px-20 text-lg font-bold"> Suscribete </button>
        <h3 class="text-center text-stone-500"> Cancela en cualquier momento </h3>
      </div>
    </mat-card-header>
  </mat-card>

</div>
