<div class="flex flex-col justify-center items-center mb-20">
  <div class=" w-4/5 mx-auto p-5 rounded text-center bg-opacity-40 bg-[#11AEBF] mt-32">
    <h2 class="text-6xl mb-2 title">Se ha procesado con éxito la subscripción</h2>
    <div class="text-xl mb-2">¡Gracias por suscribirte a ArtCollab!</div>
  </div>

  <div class="text-lg text-center mt-8">El id de tu transacción es {{ transactionId }}</div>

  <div class="login-container">
    <button class="button p-4 rounded-lg mt-24 text-lg" routerLink="/home"> Regresar al inicio</button>
  </div>

</div>
