<!-- user-login-email.component.html -->
<div *ngIf="showEmailLogin" class="user-login-email w-full flex justify-center items-center fixed" (click)="closeLogin()">
  <mat-card (click)="$event.stopPropagation()" class="login-card flex justify-center items-center">
    <mat-card-title>
      <h3 class="text-center font-bold"> Iniciar sesión con correo electrónico </h3>
    </mat-card-title>
    <mat-card-content>
      <div class="card flex justify-center">
        <div class="flex flex-col gap-1">
          <mat-form-field class="w-full">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Ingresar correo electrónico">
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Contraseña</mat-label>
            <input matInput [(ngModel)]="password" placeholder="Ingresar contraseña">
          </mat-form-field>
          <div class="flex justify-center gap-2 mt-3">
            <button mat-raised-button class="w-full bg-white" (click)="backToLogin()">
              Atrás
            </button>
            <button mat-raised-button class="w-full bg-white">
              Iniciar sesión
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="flex justify-center flex-col">
        <h5 class="text-center cursor-pointer">¿Olvidaste tu contraseña?</h5>
        <div class="flex justify-center gap-2">
          <h5 class="text-center">¿No tienes una cuenta?</h5>
          <h5 class="text-center cursor-pointer text-yellow-900">Regístrarse</h5>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
