<div class="cards-container flex justify-center items-center flex-wrap gap-16 mt-7 rounded-xl" aria-label="Subscription cards container">
  <mat-card *ngFor="let subscription of subscriptions" class="p-2 w-72" [attr.aria-label]="subscription.type_subscription + ' subscription card'">
    <mat-card-header class="flex flex-col" [attr.aria-label]="subscription.type_subscription + ' subscription card header'">
      <div class="flex ">
        <h1 class="font-bold"> {{subscription.amount}} </h1>
        <h2 class="text-stone-500"> /month </h2>
      </div>
      <div>
        <h2 class="font-bold"> {{subscription.type_subscription}} </h2>
        <hr/>
      </div>
      <div class="mt-3">
        <div *ngFor="let benefit of subscription.benefits" class="flex gap-2">
          <fa-icon [icon]="faCheck"  class="mt-2 p-2 w-10 h-8  bg-gray-400 rounded-full"></fa-icon>
          <h2 class="text-stone-500"> {{benefit}} </h2>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <button (click)="subscribe(subscription)" class="text-white bg-gray-900 p-2 px-20 text-lg font-bold"> Suscribete </button>
        <h3 class="text-center text-stone-500"> Cancela en cualquier momento </h3>
      </div>
    </mat-card-header>
  </mat-card>
</div>
