<div class="flex flex-wrap justify-center items-center gap-28" aria-label="Coin packages container">
  <mat-card class="w-60" aria-label="10 coin package card">
    <mat-card-content>
      <div class="flex flex-col justify-center items-center">
        <img src="../../../../../assets/coin.png" width="100"/>
        <h1> 10 </h1>
      </div>
    </mat-card-content>
    <div class="bg-gray-300 p-2">
      <h1 class="text-center">  S/.0.99</h1>
    </div>
  </mat-card>

  <mat-card class="w-60" aria-label="50 coin package card">
    <mat-card-content>
      <div class="flex flex-col justify-center items-center">
        <img src="../../../../../assets/coin.png" width="100"/>
        <h1> 50 </h1>
      </div>
    </mat-card-content>
    <div class="bg-gray-300 p-2">
      <h1 class="text-center">  S/.3.99</h1>
    </div>
  </mat-card>

  <mat-card class="w-60" aria-label="125 coin package card">
    <mat-card-content>
      <div class="flex flex-col justify-center items-center">
        <img src="../../../../../assets/coin.png" width="100"/>
        <h1> 125 </h1>
      </div>
    </mat-card-content>
    <div class="bg-gray-300 p-2">
      <h1 class="text-center">  S/.7.99</h1>
    </div>
  </mat-card>

  <mat-card class="w-60" aria-label="500 coin package card">
    <mat-card-content>
      <div class="flex flex-col justify-center items-center">
        <img src="../../../../../assets/coin.png" width="100"/>
        <h1> 500 </h1>
      </div>
    </mat-card-content>
    <div class="bg-gray-300 p-2">
      <h1 class="text-center">  S/.25.90</h1>
    </div>
  </mat-card>

  <mat-card class="w-60" aria-label="1000 coin package card">
    <mat-card-content>
      <div class="flex flex-col justify-center items-center">
        <img src="../../../../../assets/coin.png" width="100"/>
        <h1> 1000 </h1>
      </div>
    </mat-card-content>
    <div class="bg-gray-300 p-2">
      <h1 class="text-center">  S/.45.90</h1>
    </div>
  </mat-card>
</div>
