.button-text{
  margin: 0;
}
.button{
  background-color:#7AC8D0;
  border-radius: 1rem;
}

@media (width>=340px) and (width<=1200px){
  .content{
    margin-left: 0;
  }

  .button-text{
    font-size: 1rem;
  }

  .cards-container{
    width: 90%;
  }

  .title{
    width: 90%;
  }
}

@media (width>=530px) and (width<=760px){
  .button{
    margin-top: 10px;
  }

}
